body {
    text-align: center;
}

h1#title.header {
    background-color: rgb(69,31,61);
    text-align: center;
    color:rgb(255, 255, 255);
    padding: 5px 5px 5px 5px;
    height: 40px;
    font-size:30px;
}
div#message {
    color:rgb(252, 6, 6);
    font-size:15px;
    text-align: center;

}

input#name {
    height: 40px;
    width:350px;
    background-color: rgb(233, 235, 238);
    border-radius: 5px 5px 5px 5px;
    margin-top: 1px;
    margin-bottom: 10px;
    text-align: left;
}

input#email {
    height: 40px;
    width:350px;
    background-color: rgb(233, 235, 238);
    border-radius: 5px 5px 5px 5px;
    margin-top: 1px;
    margin-bottom: 10px;
    text-align: left;
}
input#pass1 {
    height: 40px;
    width:350px;
    background-color: rgb(233, 235, 238);
    border-radius: 5px 5px 5px 5px;
    margin-top: 1px;
    margin-bottom: 10px;
    text-align: left;
}
input#pass2 {
    height: 40px;
    width:350px;
    background-color: rgb(233, 235, 238);
    border-radius: 5px 5px 5px 5px;
    margin-top: 1px;
    margin-bottom: 10px;
    text-align: left;
}
#subButton {
    
    margin-top: 10px;
    text-align: center;
    font-size:20px;
    border-radius: 5px 5px 5px 5px;
    color:rgb(255, 255, 255);
    background-color: rgb(217, 28, 173);
    height: 50px;
    width: 350px;
    padding: 5px 5px 5px 5px;
    margin-bottom: 5px;
}